<div class="sidenav-header">
    <img src="/assets/myprofile.jpg" [width]="profilePicSize()" [height]="profilePicSize()"/>
    <div class="header-text">
        <p>Ali M. Alhashim</p>
    </div>
    <mat-nav-list>
       <a mat-list-item *ngFor="let item of menuItems()" class="menu-item" [routerLink]="item.route" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span matListItemTitle *ngIf="!sideNavCollapsed()">{{item.lable}}</span>
       </a> 
    </mat-nav-list>
</div>
