.sidenav-header {
    padding-top: 24px;
    text-align: center;
  
    > img {
      border-radius: 100%;
      object-fit: cover;
      margin-bottom: 10px;
    }
  
    .header-text {
      height: 3rem;
  
      > h2 {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
      }
  
      > p {
        margin: 0;
        font-size: 0.8rem;
      }
    }
  }



  .menu-item {
    border-left: 5px solid;
    border-left-color: rgba(0, 0, 0, 0);
    text-align: left !important;
  }
  

  
  .mdc-list-item--activated {
    color: #0d7916 !important; /* Note: You could also use a custom theme */
    border-left: solid 5px #0d7916;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .mat-mdc-list-item-interactive 
{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


