<mat-toolbar class="mat-toolbar-class">
  <button  mat-stroked-button (click)="collapsed.set(!collapsed())"><mat-icon mat-icon-button>menu</mat-icon></button> 
  <div class="brand">
    IMS
  </div>



  <div class="notifications-chat" mat-raised-button matBadge="2" matBadgePosition="after">

    <button [matMenuTriggerFor]="NotificationsMenu"><mat-icon>notifications</mat-icon></button>

    <mat-menu #NotificationsMenu="matMenu" xPosition="before" class="notifications-menu">
      <button mat-menu-item>
        your request has been approved
      </button>
      <button mat-menu-item>
        Ink of HP-05A quantity 0 you have to order
      </button>
    </mat-menu>
    

    

  </div>


</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()"/>
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <!--Here is the content -->
    <router-outlet>
         
    </router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>