/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
   
}

.content{
    padding: 24px;
    background: #e2e2e2;
}

.mat-toolbar-class{
    position: relative;
    z-index: 5;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 1px 4px 1px rgba(59, 59, 59, 0.75);
    -webkit-box-shadow: 0px 1px 4px 1px rgba(53, 53, 53, 0.75);
    -moz-box-shadow: 0px 1px 4px 1px rgba(44, 44, 44, 0.75);
    justify-content: space-between;
}

mat-sidenav-container{
    height: calc(100vh - 64px);
   
    
}

.search-input{
    margin: 10px;
    padding: 5px;
   
}



